<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="generator" content=
  "HTML Tidy for Linux/x86 (vers 11 February 2007), see www.w3.org" />
  <meta charset="utf-8" />

  <title>Toolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="An ORF401 Project" />
  <meta name="author" content="Solomon Abiola" /><!-- Le styles -->
  <link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
/*<![CDATA[*/
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
  /*]]>*/
  </style>
  <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
</head>
<body>

<%= yield %>

</body>
</html>
